html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.login-body{
background-image: url("../../images/andy-holmes-LUpDjlJv4_c-unsplash.jpg");
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.top{
  margin-bottom: -1px;
  border-radius: 0;
  border-right: white;
  border-bottom: white;
}
.middle{
    border-radius: 0;
    margin-bottom: -1px;
    border-right: white;
}
.bottom{
  margin-bottom: 10px;
  border-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-right: white;
  border-bottom: white;
}
.custom{
    color: whitesmoke;
    opacity: 0.9;
    padding: 5%;
}